@import 'colors';

.legend{
    width: 150px;
    border: 2px solid $font-color;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;   

    &__item{
        width: 100%;
        max-width: 130px;
        margin-left: 15px;
        margin-bottom: 10px;
        position: relative;
        height: 20px;
    }

    &__item:hover{
        cursor: pointer;
    }

    &__color{
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    &__item--text{
        overflow: hidden;
        margin-left: 21px;
    }

    &__button{
        align-self: center;
    }
}



li {
    height: 25px;
    margin-top: 10px 0;
}