@import 'nullstyle';
@import 'colors';

@import 'container';
@import 'svg';
@import 'circle';
@import 'text';
@import 'data';
@import 'button';
@import 'legend';

body{
    font-size: 18px;
    color: $font-color;
    background-color: $background-color;
    
}
