* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  width: 500px;
  height: 500px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: none;
  border-radius: 50%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

g {
  fill: none;
  stroke-width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* circle */
circle {
  r: 16;
  cx: 0;
  cy: 0;
}

circle:hover {
  opacity: 0.5;
}

text {
  font-size: 2px;
  fill: #fff;
  text-anchor: start;
  alignment-baseline: middle;
  display: none;
  x: 0;
  y: 0;
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

circle:hover + text {
  display: inline;
}

.data {
  width: 400px;
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data__wraper {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

input {
  margin: 10px;
  height: 30px;
  width: 300px;
  border: 1px solid #E9E6E6;
  opacity: 0.5;
}

label {
  margin-left: 10px;
}

.button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: #E9E6E6;
}

.legend {
  width: 150px;
  border: 2px solid #566885;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.legend__item {
  width: 100%;
  max-width: 130px;
  margin-left: 15px;
  margin-bottom: 10px;
  position: relative;
  height: 20px;
}

.legend__item:hover {
  cursor: pointer;
}

.legend__color {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.legend__item--text {
  overflow: hidden;
  margin-left: 21px;
}

.legend__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

li {
  height: 25px;
  margin-top: 10px 0;
}

body {
  font-size: 18px;
  color: #566885;
  background-color: #E9E6E6;
}
/*# sourceMappingURL=style.css.map */